.markdown-style {
  code {
    color: $theme;
    box-sizing: border-box;
    margin: 0 .1em;
    padding: .15em .5em;
    border-radius: 4px;
    font-size: 14px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
    background-color: #e4f1ff;
  }

  pre {
    code {
      margin: 0;
      padding: 20px;
      line-height: 1.5;
      font-size: 12px;
      background-color: #e9f0f8;
    }
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h2, h3, h4, h5 {
    a {
      float: left;
      margin-left: -20px;
      opacity: 0;
      color: $theme;
      cursor: pointer;
    }

    &:hover a {
      opacity: .4;
    }
  }

  table {
    border-collapse: collapse;
    display: table;
    width: 100%;
    color: #45526b;

    thead {
      background: #e8f0f9;
      text-align: left;
    }

    tr:first-child {
      border-bottom: 1px solid transparent;
    }

    tr:nth-child(2n) {
      background-color: #f8f9fa;
    }

    thead tr {
      height: 40px;
    }

    td, th:not(:last-child) {
      border: none;
    }

    thead tr th {
      padding-left: .8em;
      white-space: nowrap;
    }

    td {
      color: #596c8e;
      padding: .6em 1em;
      height: 30px;
    }
  }

  ul {
    line-height: 2;
    padding-left: 1.2em;

    li {
      
      input {
        transform: translateY(2px);
      }
    }
  }

  ul, ol, p {
    line-height: 2;
  }

  .demo-block {
    ul, ol, p {
      line-height: 1;
    }
  }
}