/* color
-------------------------- */
$theme: #3683d6;
$theme-deep: #0037ad;
$font-color: #45526b;
$border-color: #eaecef;

/* z-index
-------------------------- */
$--index-normal: 1;
$--index-top: 1000;
$--index-popper: 2000;